 ```

pip install trino


pip install ipython-sq

```1

In [1]:
%load_ext sql

In [2]:
%sql trino://admin@localhost:8080/default
%sql SHOW CATALOGS

 * trino://admin@localhost:8080/default
Done.

[('hive',), ('hudi',), ('iceberg',), ('minio',), ('system',)]

In [3]:
%sql USE hudi.hudi_db

 * trino://admin@localhost:8080/default
Done.

[]

In [4]:
%sql SHOW TABLES

 * trino://admin@localhost:8080/default
Done.

[('customer_dim',), ('customers',)]

In [33]:
%sql select customer_id,email from customers limit 5

 * trino://admin@localhost:8080/default
Done.

[('cust001', 'updat***@john.com'),
 ('cust002', 'alice@example.com'),
 ('cust003', 'bob@example.com')]

In [34]:
%sql select customer_id,is_current,email from customer_dim limit 5

 * trino://admin@localhost:8080/default
Done.

[('cust003', True, 'bob@example.com'),
 ('cust002', True, 'alice@example.com'),
 ('cust001', False, 'john@example.com'),
 ('cust001', True, 'updat***@john.com')]